/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      main {
        justify-content: space-around;
      }

      .exchange-item {
        margin: 20px;
      }

      .currency-select {
        margin-bottom: 20px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      .currency-select {
        justify-content: center;
        padding-bottom: 20px;
      }

      .nice-select {
        margin: 0;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }